<div style="margin:0; padding:0">
    <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="background-color:#f0f0f0">
        <tbody>
            <tr>
                <td>
                    <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="background-image: url(https://app.mirasuprimentos.com.br/static/media/bricks_webp.a23917bb8272c1b7b32b.webp)">
                        <tbody>
                            <tr>
                                <td style="padding: 6vw; height: 30vw">
                                    <p style="
                                        color: #53337d;
                                        font-size: 4vw;
                                        font-family: sans-serif;
                                        font-weight: bold;
                                        ">
                                            ${order.user.name}
                                    </p>
                                    <p style="
                                        font-size: 2vw;
                                        font-family: sans-serif
                                        ">
                                            Seu novo pedido foi recebido.
                                    <br>
                                            Obrigado!
                                    </p>
                                </td>
                                <td>
                                    <img src="https://static.wixstatic.com/media/082295_b758f0567197402fafb8ee9666796ac4~mv2.png/v1/fill/w_393,h_393,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Design%20sem%20nome.png" alt="Mira Suprimentos">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>