<body style="margin:0; padding:0">
    <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
    >
        <tbody>
            <tr>
                <td>
                    <table
                    width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="background-color: #e7e7e7">
                        <tbody>
                            <tr>
                                <td style="padding: 6vw; height: 30vw">
                                    <p style="
                                        color: #53337d;
                                        font-size: 4vw;
                                        font-family: sans-serif;
                                        font-weight: bold;
                                        ">
                                            ${order.user.name}
                                    </p>
                                    <p style="
                                        font-size: 2vw;
                                        font-family: sans-serif
                                        ">
                                            Seu novo pedido foi recebido.
                                    <br>
                                            Obrigado!
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>